Django==4.2.10
djangorestframework-simplejwt==5.3.1
channels-redis==4.1.0
celery==5.3.6
redis==5.0.2
djangorestframework==3.14.0
channels==4.0.0
daphne==4.0.0
async-timeout==4.0.3
psycopg2-binary==2.9.10
django-cors-headers==4.3.1
django-filter==23.5
python-decouple==3.8
drf-yasg==1.21.7
pillow==10.4.0
markdown==3.5.2
gunicorn==21.2.0
whitenoise==6.6.0
django-storages==1.14.2
dj-database-url==2.1.0
pytz==2025.2
PyJWT==2.10.1
sqlparse==0.5.3
tzdata==2025.2
amqp==5.3.1
billiard==4.2.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.5.2
vine==5.1.0 